# PyCharm files
.idea/

# Virtual environment
venv/

# Django migrations
# */migrations/

# Environment variables file
.env

# Python packages
*.pyc
__pycache__/

# Static files
static/collect_static

# Media files
media/

# logger file
requests.log